.labeler { display: table; }
.labeler-image, .labeler-menu { display: table-cell; width: 40%; vertical-align: top; user-select: none; -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }

.labeler-image { position: relative; overflow-x: auto; outline: 1px solid #000; }
.labeler-image img { width: 100%; }

.labeler-menu { padding: 0 10px; }
.labeler-menu textarea { width: 100%; resize: vertical; min-height: 200px; height: 50vh }

.label-box { user-select: none;  -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; }

.btn { background: #fff; color: #000; border: 2px solid #000; padding: 5px 10px; margin: 1px; }
.btn:hover { background: #fff; color: #000; cursor: pointer; border: 3px solid #ffcd00; margin: 0px; }